<link rel="stylesheet" href="css/nav_img.css">

<div class="container-fluid img-fluid mt-1">
    <div class="banner-image text-left txt">
      <p class="display-1 text-white title">¿Que somos?</p>
      <p class="text-white"> Somos un gimansio virtual que ofrece sesiones de entrenamiento 
        en linea a traves de Zoom.
        <br>
        Unete a nuestras clases y alcanza tus metas desde la comodidad de tu hogar. <br>
        <strong>¡Ponte en forma con nosotros hoy mismo!</strong>
      </p>
      <a href="/" type="button" class="btn btn-light btn btn-outline-dark">Acceder</a>
    </div>
  </div>