<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); %>
<link rel="stylesheet" href="css/inicio.css" />
<title>Inicio</title>

<body>
  <%- include('partials/navbar.ejs'); %>
  <%- include('partials/nav_img.ejs'); %>
  <div class="container text-center">
    <h1 class="mt-5">Our Services</h1>
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Services</h2>
        <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
      </div>

      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <h3>Nesciunt Mete</h3>
            <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
            <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <h3>Eosle Commodi</h3>
            <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
            <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <h3>Ledo Markt</h3>
            <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
            <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
    <!-- <div class="row my-5">
      <div class="col-lg-3 m-auto">
        <div class="card border-0">
          <div class="card-body">
            <img src="Icons/conferencia.png" alt="" class="img-fluid icon">
            <h3>Clases Virtuales</h3>
            Descubre la comodidad de nuestras clases virtuales desde casa, 
            mantente en forma con nuestros instructores expertos en cualquier momento y lugar.
          </div>
        </div>
      </div>
      <div class="col-lg-3 m-auto">
        <div class="card border-0">
          <div class="card-body">
            <img src="Icons/shop.png" alt="" class="img-fluid">
            <h3>Tienda Fit</h3>
            Explora nuestra selección de alimentos saludables y equipamiento deportivo 
            de calidad para potenciar tus entrenamientos y alcanzar tus metas fitness.
          </div>
        </div>
      </div>
      <div class="col-lg-3 m-auto">
        <div class="card border-0">
          <div class="card-body">
            <img src="Icons/plan.png" alt="" class="img-fluid">
            <h3>Planes </h3>
            Obtén planes personalizados de entrenamiento y alimentación para maximizar 
            tus resultados y alcanzar tu mejor versión física."
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="container-fluid">
    <div class="row g-0">
      <div class="col-6">
        <div class="cont-image img-fluid">
        </div>
      </div>
      <div class="col-6 shadow cont-txt">
        <h1 class="text-center txt-p">Tu cuerpo, tu gimnasio, tu libertad.</h1>
        <p class="text-center txt-pinfo">¡Descubre una nueva forma de entrenar con nuestras emocionantes clases virtuales! Rompe barreras físicas y alcanza tus metas fitness desde la comodidad de tu hogar. Nuestros instructores expertos te guiarán a través de sesiones dinámicas y motivadoras, adaptadas a todos los niveles de condición física. Ya sea que busques quemar calorías, tonificar tu cuerpo o aumentar tu resistencia, nuestras clases virtuales te brindarán la intensidad y variedad necesarias para mantenerte motivado y en forma.</p>
      </div>
    </div>
  </div>
    <section class="splash" id="SectionAbout">
      <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center text-white">
            <h1 class="mb-3">Planes</h1>
            <p>
              Descubre nuestros planes de entrenamiento personalizados, diseñados para ayudarte a alcanzar tus objetivos de forma eficiente y motivadora.<br><strong>¡Eleva tu condición física desde casa con nuestras sesiones virtuales!</strong> 
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/img1.jpg" alt=""
                class="card-img-top" />
              <div class="p-3">
                <h5 class="mb-0 tp">BODY BUILDING PROGRAM</h5>
                <p class="tsub">WITH JOHNATHAN DOE</p>
                <ul class="list-inline mt-3 lists">
                  <li class="py-1">
                    <i class="icon-check text-success"></i> 6 Days a Week
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Dedicated Trainer
                    Allocated
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Diet Plan Included
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Morning and Evening
                    Batches
                  </li>
                </ul>
                <div class="d-flex mt-3">
                  <p class="price">$400</p>
                  <button class="btn2">Show More</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/img1.jpg" alt=""
                class="card-img-top" />
              <div class="p-3">
                <h5 class="mb-0 tp">BODY BUILDING PROGRAM</h5>
                <p class="tsub">WITH JOHNATHAN DOE</p>
                <ul class="list-inline mt-3 lists">
                  <li class="py-1">
                    <i class="icon-check text-success"></i> 6 Days a Week
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Dedicated Trainer
                    Allocated
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Diet Plan Included
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Morning and Evening
                    Batches
                  </li>
                </ul>
                <div class="d-flex mt-3">
                  <p class="price">$400</p>
                  <button class="btn2">Show More</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/img1.jpg" alt=""
                class="card-img-top" />
              <div class="p-3">
                <h5 class="mb-0 tp">BODY BUILDING PROGRAM</h5>
                <p class="tsub">WITH JOHNATHAN DOE</p>
                <ul class="list-inline mt-3 lists">
                  <li class="py-1">
                    <i class="icon-check text-success"></i> 6 Days a Week
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Dedicated Trainer
                    Allocated
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Diet Plan Included
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Morning and Evening
                    Batches
                  </li>
                </ul>
                <div class="d-flex mt-3">
                  <p class="price">$400</p>
                  <button class="btn2">Show More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
<script src="https://kit.fontawesome.com/3b116f099f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/noLog.js"></script>

</html>