<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); %>
<link rel="stylesheet" href="css/inicio.css" />
<title>Inicio</title>

<body>
  <%- include('partials/navbar.ejs'); %>
  <%- include('partials/nav_img.ejs'); %>
  <div class="container text-center">
    <h1 class="mt-5">Our Services</h1>
    <div class="row my-5">
      <div class="col-lg-3 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <img src="Icons/conferencia.png" alt="" class="img-fluid icon">
            <h3>Clases Virtuales</h3>
            Descubre la comodidad de nuestras clases virtuales desde casa, 
            mantente en forma con nuestros instructores expertos en cualquier momento y lugar.
          </div>
        </div>
      </div>
      <div class="col-lg-3 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <img src="Icons/shop.png" alt="" class="img-fluid">
            <h3>Tienda Fit</h3>
            Explora nuestra selección de alimentos saludables y equipamiento deportivo 
            de calidad para potenciar tus entrenamientos y alcanzar tus metas fitness.
          </div>
        </div>
      </div>
      <div class="col-lg-3 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <img src="Icons/plan.png" alt="" class="img-fluid">
            <h3>Planes </h3>
            Obtén planes personalizados de entrenamiento y alimentación para maximizar 
            tus resultados y alcanzar tu mejor versión física."
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="clases">
    <div class="container-fluid">
      <img src="img/inicio2.jpg" alt="" class="img-fluid">
    </div>
  </div> -->
    <div class="product">
      <div class="container py-3 text-center">
        <h1>Our Products</h1>  
        <div class="row">
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light">
              <div class="card-body">
                <img src="Icons/cafeina.webp" alt="" class="img-fluid" />
              </div>
            </div>
            <h6>Vergolina</h6>
            <p>$400</p>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light">
              <div class="card-body">
                <img src="Icons/cafeina.webp" alt="" class="img-fluid" />
              </div>
            </div>
            <h6>Vergolina</h6>
            <p>$400</p>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light">
              <div class="card-body">
                <img src="Icons/cafeina.webp" alt="" class="img-fluid" />
              </div>
            </div>
            <h6>Vergolina</h6>
            <p>$400</p>
          </div>
          <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light">
              <div class="card-body">
                <img src="Icons/cafeina.webp" alt="" class="img-fluid" />
              </div>
            </div>
            <h6>Vergolina</h6>
            <p>$400</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 text-center m-auto">
            <button class="btn1">
              <a href="/productos" class="a-links">Show More</a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <section class="splash" id="SectionAbout">
      <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center text-white">
            <h1 class="mb-3">Planes</h1>
            <p>
              Descubre nuestros planes de entrenamiento personalizados, diseñados para ayudarte a alcanzar tus objetivos de forma eficiente y motivadora.<br><strong>¡Eleva tu condición física desde casa con nuestras sesiones virtuales!</strong> 
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/img1.jpg" alt=""
                class="card-img-top" />
              <div class="p-3">
                <h5 class="mb-0 tp">BODY BUILDING PROGRAM</h5>
                <p class="tsub">WITH JOHNATHAN DOE</p>
                <ul class="list-inline mt-3 lists">
                  <li class="py-1">
                    <i class="icon-check text-success"></i> 6 Days a Week
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Dedicated Trainer
                    Allocated
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Diet Plan Included
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Morning and Evening
                    Batches
                  </li>
                </ul>
                <div class="d-flex mt-3">
                  <p class="price">$400</p>
                  <button class="btn2">Show More</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/img1.jpg" alt=""
                class="card-img-top" />
              <div class="p-3">
                <h5 class="mb-0 tp">BODY BUILDING PROGRAM</h5>
                <p class="tsub">WITH JOHNATHAN DOE</p>
                <ul class="list-inline mt-3 lists">
                  <li class="py-1">
                    <i class="icon-check text-success"></i> 6 Days a Week
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Dedicated Trainer
                    Allocated
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Diet Plan Included
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Morning and Evening
                    Batches
                  </li>
                </ul>
                <div class="d-flex mt-3">
                  <p class="price">$400</p>
                  <button class="btn2">Show More</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/img1.jpg" alt=""
                class="card-img-top" />
              <div class="p-3">
                <h5 class="mb-0 tp">BODY BUILDING PROGRAM</h5>
                <p class="tsub">WITH JOHNATHAN DOE</p>
                <ul class="list-inline mt-3 lists">
                  <li class="py-1">
                    <i class="icon-check text-success"></i> 6 Days a Week
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Dedicated Trainer
                    Allocated
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Diet Plan Included
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Morning and Evening
                    Batches
                  </li>
                </ul>
                <div class="d-flex mt-3">
                  <p class="price">$400</p>
                  <button class="btn2">Show More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
<script src="https://kit.fontawesome.com/3b116f099f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/noLog.js"></script>

</html>