<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); %>
<link rel="stylesheet" href="css/inicio.css" />
<title>Inicio</title>

<body>
  <%- include('partials/navbar.ejs'); %>
  <%- include('partials/nav_img.ejs'); %>
    <div id="about" class="about">
      <div class="container">
        <div class="row gy-5">
          <div class="col-xl-5 content">
            <h3>Sobre Nosotros</h3>
            <h2>Tu cuerpo, tu gimnasio, tu libertad.</h2>
            <p>En StreetWiseFitness, nuestra misión es proporcionarte las herramientas y el apoyo necesarios para alcanzar una vida saludable y activa. Con nuestras clases por Zoom, planes personalizados, venta de alimentos y equipos deportivos, estamos comprometidos a brindarte una experiencia integral y satisfactoria en tu viaje hacia una mejor versión de ti mismo. ¡Únete a nosotros hoy mismo y descubre el poder transformador de SWF!</p>
            <a href="/registroUsuario" class="read-more"><span>Registrarme</span><i class="bi bi-arrow-right"></i></a>
          </div>
          <div class="col-xl-7">
            <div class="row gy-4">
              <div class="col-md-6">
                <div class="icon-box">
                  <i class="bi bi-clipboard2-check"></i>
                  <h3>Planes a tu Medida</h3>
                  <p>Planes personalizados para entrenamiento de tren superior, tren inferior y plan general. Maximiza tu progreso y obtén resultados óptimos.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6">
                <div class="icon-box mt-3">
                  <i class="bi bi-cart2"></i>
                  <h3>Suplementos y Equipamiento</h3>
                  <p>Tu fuente de suplementos y equipos deportivos para optimizar tu rendimiento y alcanzar tus metas fitness</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6">
                <div class="icon-box mb-5">
                  <i class="bi bi-calendar-week"></i>
                  <h3>Entrenamiento Virtual</h3>
                  <p>Tu entrenamiento virtual en casa. Únete a nuestras clases y alcanza tus metas de fitness desde cualquier lugar.</p>
                </div>
              </div> <!-- End Icon Box -->

            </div>
          </div>

        </div>
      </div>

    </div><!-- End About Section -->
    <div class="splash" id="SectionAbout">
      <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center text-white">
            <h1 class="mb-3">Planes</h1>
            <p>
              Descubre nuestros planes de entrenamiento personalizados, diseñados para ayudarte a alcanzar tus objetivos de forma eficiente y motivadora.<br><strong>¡Eleva tu condición física desde casa con nuestras sesiones virtuales!</strong> 
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/img1.jpg" alt=""
                class="card-img-top" />
              <div class="p-3">
                <h5 class="mb-0 tp">BODY BUILDING PROGRAM</h5>
                <p class="tsub">WITH JOHNATHAN DOE</p>
                <ul class="list-inline mt-3 lists">
                  <li class="py-1">
                    <i class="icon-check text-success"></i> 6 Days a Week
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Dedicated Trainer
                    Allocated
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Diet Plan Included
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Morning and Evening
                    Batches
                  </li>
                </ul>
                <div class="d-flex mt-3">
                  <p class="price">$400</p>
                  <button class="btn2">Show More</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/img1.jpg" alt=""
                class="card-img-top" />
              <div class="p-3">
                <h5 class="mb-0 tp">BODY BUILDING PROGRAM</h5>
                <p class="tsub">WITH JOHNATHAN DOE</p>
                <ul class="list-inline mt-3 lists">
                  <li class="py-1">
                    <i class="icon-check text-success"></i> 6 Days a Week
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Dedicated Trainer
                    Allocated
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Diet Plan Included
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Morning and Evening
                    Batches
                  </li>
                </ul>
                <div class="d-flex mt-3">
                  <p class="price">$400</p>
                  <button class="btn2">Show More</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card border-0 mb-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/img1.jpg" alt=""
                class="card-img-top" />
              <div class="p-3">
                <h5 class="mb-0 tp">BODY BUILDING PROGRAM</h5>
                <p class="tsub">WITH JOHNATHAN DOE</p>
                <ul class="list-inline mt-3 lists">
                  <li class="py-1">
                    <i class="icon-check text-success"></i> 6 Days a Week
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Dedicated Trainer
                    Allocated
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Diet Plan Included
                  </li>
                  <li class="py-1">
                    <i class="icon-check text-success"></i> Morning and Evening
                    Batches
                  </li>
                </ul>
                <div class="d-flex mt-3">
                  <p class="price">$400</p>
                  <button class="btn2">Show More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="about" class="about">
      <div class="container">
        <div class="row gy-5">
          <div class="col-xl-7">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="img/sup.jpg" class="w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/equi.jpg" class="w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/vit.jpg" class="w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-5 content">
            <h3>Suplementos y equipamento</h3>
            <h2>Maximiza tu Potencial con Suplementos, Vitaminas y Equipamiento Deportivo</h2>
            <p>Te ofrecemos una amplia selección de suplementos deportivos y equipamiento de calidad. Potencia tus entrenamientos y alcanza tus metas fitness con nuestra variedad de productos confiables y efectivos. Desde proteínas y vitaminas hasta pesas y accesorios, en SWF encontrarás todo lo que necesitas para llevar tu rendimiento al máximo nivel.</p>
            <a href="/productos" class="read-more"><span>Ver Productos</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>  
    </div>
    <footer id="footer" class="footer">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>Sobre Nosotros</span>
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
            </div>
          </div>
  
          <div class="col-lg-4 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Planes</a></li>
              <li><a href="#">Recetas</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p>United States</p>
            <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
  
        </div>
      </div>
  
    </footer><!-- End Footer -->
  

</body>
<script src="https://kit.fontawesome.com/3b116f099f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/noLog.js"></script>

</html>